
$layout-nav-hover-color: unquote("rgb(#{$pcblue})") !default;

/*
  Header and Drawer logo
*/

header, .mdl-layout__drawer {
  // logo
  #logo {
    margin: 0 0 0 0;
    display: block;
    background: url(./img/logo.svg) no-repeat;
    background-size: 55px;
    height: 55px;
    font-family: 'GehenSansCondensed';
    font-size: 29px;
    padding: 1px 0 0 60px;
    color: $pc;
    text-decoration: none;
    font-weight: bold;
    line-height: 29px;

    &:hover, &:active {
      color: $pcc;
    }

    span {
      color: #000;
      font-weight: normal;
      font-family: 'GehenSans';
      line-height: 33px;
    }

    .country {
      font-family: 'GehenSans';
      display: block;
      margin-top: -6px;
      color: #333;
      font-size: .65em;
    }
  }
}

/*
  Drawer logo positioning section
*/

.mdl-layout__drawer {
  #drawer_close_button {
    margin: 16px 0 0 24px;
    position: absolute;
    z-index: 1000;
    &:hover {
      color: rgb(97,97,97);
    }
  }
  .mdl-layout-title {
    margin: 4px 40px 0 40px;
  }
}

@media (max-width: 840px) {
  .mdl-layout {
    .mdl-layout__header-row {
      padding-left: 50px;
    }
    .mdl-layout__drawer {
      #drawer_close_button {
        margin: 16px 0 0 8px;
      }
      .mdl-layout-title {
        margin: 0px 24px 0 8px;
      }
    }
  }
}

.mdl-layout__drawer {
  background-color: #fff;

  &.is-visible {
    width: auto;
  }

  span.mdl-layout-title {
    padding: 0 40px;
  }

  ul.mdl-navigation {
    padding: 0;
  }

  .mdl-navigation {
    ul.sub-menu {
      padding: 0;
      li {
        hr {
          margin: 0 32px;
          color: #eee;
        }
        a {
          padding-left: 32px;
        }
        list-style: none;
      }
    }
    .mdl-navigation__link {
      padding: 12px 16px;
      font-weight: 500;
      font-family: "Roboto-Medium", "Roboto", "Helvetica", "Arial", sans-serif;
      color: #000;

      &.is-active {
        background-color: #CCCCCC;
      }

      i.fa, i.dashicons {
        color: #878787;
      }
    }

    .menu-item i._mi {
      font-size: 1.6em;
      margin-right: 36px;
    }
  }
}

/*
  END: Drawer logo positioning section
*/

@media (min-width: 1024px) {
  .mdl-layout {
    min-width: 1400px;
  }
}

@media (max-width: 840px) {
  .mdl-layout {
    .mdlwp-search-box {
      right: 0;
    }
  }
}

header {
  .mdl-navigation {
    .mdl-navigation__link {
      cursor: pointer;
    }
    ul.mdl-menu {
      padding: 0;
      li {
        line-height: 40px;
        &.is-hr-li {
          height: auto;
          hr {
            margin: 0;
          }
        }
        a, a:hover, a:visited, a.is-active {
          border-bottom: 0px solid transparent;
          line-height: 40px;
        }
      }
    }
    .mdl-navigation__link {
      border-bottom: 3px solid transparent;
      padding-top: 1px;
      padding-left: 16px;
      padding-right: 16px;
      line-height: 60px;

      &:hover, &.is-active {
        border-bottom: 3px solid $pcc;
        text-decoration: none;
      }
    }
  }

  .pir-header-extra {
    margin-right: 24px;
    margin-left: 24px;
  }

  .mdlwp-search-box .mdl-textfield__input {
    border-bottom-color: rgb(97, 97, 97);
  }

  .mdlwp-search-box {
    padding: 13px 13px 10px 0;
    top: 0px;
    height: 55px;
    background-color: #fff;
    &.is-dirty, &.is-focused {
      margin-left: -240px;
    }
  }
}
@media (min-width: 0px) and (max-width: 835px) {
  .mdl-layout--medium-screen-only {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 665px) {
  .mdlwp-search-box {
    &.is-dirty, &.is-focused {
      left: 0px;
      margin-left: 0px !important;
      position: absolute;
      padding-left: 88px;

      &.mdl-textfield--expandable{
        width: 100%;
      }

      &.mdl-textfield--align-right{
        text-align: center;
      }
    }
  }
}

.mdl-layout__header-row {
  padding: 0 80px 0 80px;
  background-color: #fff;
}

a.pir-button-donate {
  background-color: $ptred;
  color: $pcwhite;

  &:hover, &:active, &:focus:not(:active) {
    background-color: $ptred;
  }
}

a.pir-button-join {
  background-color: $ptorange;
  color: $pcwhite;

  &:hover, &:active, &:focus:not(:active) {
    background-color: $ptorange;
  }
}

a.pir-button-members {
  background-color: $pssteel;
  color: $pcwhite;

  &:hover, &:active, &:focus:not(:active) {
    background-color: $pssteel;
  }
}

.site-main .mdl-card__media {
  height: auto;
  &.has-feature-image {
    height: 280px;
  }
}

.entry-content {
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
  p {
    width: 100%;
  }
  .meta {
    width: 100%;
    padding: 16px 0 0 0;
  }
}

.pir-card {
  width: 100%;
  .mdl-card__title {
      color: #fff;
      background-color: #89c3e5;
  }
}

.pir-card__data-retention {
  .mdl-card__title {
    background: url('./img/spy.png') center / cover #000;
  }
}

.pir-card__tall-ship {
  .mdl-card__title {
    background: url('./img/ship.png') center / cover #000;
  }
}

.pir-card__we-are {
  .mdl-card__title {
    h2 {
      font-size: 20px;
      color: #fff;
      display: inline-block;
    }
    line-height: 1;
    background-color: #375688;
    padding-bottom: 8px;
  }

  .mdl-card__supporting-text {
    width: 100%;
    padding-top: 0;
    background-color: #375688;
    color: #fff;

    ul {
      font-size: 1.1em;
      margin: 0 0 0 0;
    }
  }
}

.pir-card__quick-donate {
  .mdl-card__supporting-text {
    p {
      margin: 0;
    }
  }
  .mdl-grid {
    padding-bottom: 0;
  }
}

.pir-card__discuss {
  .mdl-card__title {
    padding: 0;
    background: url('./img/discuss.png') right #89c3e5 no-repeat;
    background-position: 100% 50%;
    background-size: 70%;
    h2 {
      width: 100%;
      vertical-align: bottom;
      display: table-cell;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 16px 16px;
    }
  }
}

.pir-button {
  &.pir-button-block {
    width: 100%;
  }
}

@media (min-width: 840px) {
  .hp-row-one .mdl-card {
    height: 260px;
  }

  .hp-row-two .mdl-card {
    height: 280px;
  }
}

.page-content {
  padding: 24px 24px;
  .mdl-card__supporting-text {

  }
}


.nc {
  .mdl-cell--3-col {
    @media (max-width: 840px) {
      // fix cell sizing on tablets
      width: calc(100% - 16px);
    }
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: auto;
      min-width: 200px;
      min-height: 200px;
      margin-bottom: 0px;
    }
  }
  .nc-bio {
    @media (min-width: 840px) {
      margin-left: 36px;
    }
    h4 {
      margin-bottom: 8px;
    }
    h5 {
      margin-top: 0;
    }
  }

  img {
    height: auto;
    max-width: 200px;
    margin-top: 24px;
    border-radius: 50%;
  }
}

.centre, .center {
  text-align: center;
}

.hero {
  text-align: center;
  position: relative;

  background: url(./img/hero_russellstreet_26995633782.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .mdl-grid {
    background-color: rgba(0, 0, 0, 0.65);
    padding-bottom: 36px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 8px;
    }
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 15px;
    }
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 769px) and (max-width: 992px) {
    .mdl-grid {
      padding: 24px 12px;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 16px;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 25px;
    }
    h4 {
      font-size: 15px;
    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 993px) {
    .mdl-grid {
      padding: 40px 20px;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 24px;
    }
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 45px;
    }
    h3 {
      font-size: 35px;
    }
    h4 {
      font-size: 25px;
    }
  }
}


.pir-card-image {
  margin: 16px;
  @media (max-width: 400px) {
    margin: 4px;
  }
  max-width: 100%;
  position: relative;
  .mdl-card {
    width: auto;
    margin-bottom: 0;
  }
  a.below, img.below{
    clear: both;
  }
  img {
      float:left;
  }
  > .mdl-card__actions {
    height: auto;
    padding: 16px;
    background: rgba(0, 0, 0, 0.6);
  }
  .pir-card-image__filename {
    float: left;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
  }
}



.mdl-textfield__icon {
    width: 32px;
    text-align: center;
    position: absolute;
    line-height: 1.5;
}

.mdl-textfield.is-disabled .mdl-textfield__icon {
    color: rgba(0, 0, 0, 0.26) !important;
}

.mdl-textfield__icon ~ * {
    margin-left: 32px;
    width: calc(100% - 48px);
}

.mdl-textfield.is-invalid .mdl-textfield__icon {
    color: #de3226 !important;
}

address {
  font-size: 14px;
  line-height: 24px;
}

.mdl-card__supporting-text {
  .mdl-card__title {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Page template tweaks
--------------------------------------------------------------*/
.no-results {
  .page-title {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.cc-credit {
  font-size: 12px;
  color: #aaa;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, .3);
}