@font-face {
    font-family: 'GehenSansCondensed';
    src: url('./fonts/gehensans/gehensans-bold-webfont.eot');
    src: url('./fonts/gehensans/gehensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gehensans/gehensans-bold-webfont.woff') format('woff'),
         url('./fonts/gehensans/gehensans-bold-webfont.ttf') format('truetype'),
         url('./fonts/gehensans/gehensans-bold-webfont.svg#GehenSansCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GehenSans';
    src: url('./fonts/gehensans/gehensans-bold-webfont.eot');
    src: url('./fonts/gehensans/gehensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gehensans/gehensans-bold-webfont.woff') format('woff'),
         url('./fonts/gehensans/gehensans-bold-webfont.ttf') format('truetype'),
         url('./fonts/gehensans/gehensans-bold-webfont.svg#GehenSansCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GehenSans';
    src: url('./fonts/gehensans/gehensans-regular-webfont.eot');
    src: url('./fonts/gehensans/gehensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gehensans/gehensans-regular-webfont.woff') format('woff'),
         url('./fonts/gehensans/gehensans-regular-webfont.ttf') format('truetype'),
         url('./fonts/gehensans/gehensans-regular-webfont.svg#GehenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}


